@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34; 

  font-family: 'Nunito', sans-serif; 
  
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-weight: 900; 
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  text-shadow: 0px 4px 7px rgba(0,0,0,0.4);
  margin-bottom: 25px;
}